<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PseudoCode" value="GeometricSequence_x64.txt" />
    <!--  -->
    <!--Determines the maximal number of retries, before the user is asked.-->
    <add key="MaxNumberOfRuns" value="1"/>
    <!--  -->
    <!--Percentage of fake variables to be injected in relation to the number of original ones.-->
    <add key="PercentageFakeVars" value="50"/>
    <!--  -->
    <!--Determines the module to be used (x86 or x64)-->
    <add key="Module" value="x64"/>
    <!--  -->
    <!-- **** Multiple Obfuscation Section **** -->
    <!--Determines how many times the Obfuscation should be applied.-->
    <add key="MultipleRuns" value="1"/>
    <!--Determines whether the Constant Covering Algorithm should be applied at each run (1 -> yes / 0 -> no).-->
    <add key="ConstCoverAlgInMultipleRuns" value="1"/>
    <!--Determines whether the Unconditional Meshing Algorithm should be applied at each run (1 -> yes / 0 -> no).-->
    <add key="UncMeshingAlgInMultipleRuns" value="1"/>
    <!--Determines whether the Conditional Meshing Algorithm should be applied at each run (1 -> yes / 0 -> no).-->
    <add key="CondMeshingAlgInMultipleRuns" value="1"/>
    <!--Determines whether the Fake Conditional Jump Algorithm should be applied at each run (1 -> yes / 0 -> no).-->
    <add key="FakeJumpsAlgInMultipleRuns" value="1"/>
    <!--Determines whether the Instruction Outlining Algorithm should be applied at each run (1 -> yes / 0 -> no).-->
    <add key="OutliningAlgInMultipleRuns" value="1"/>
    <!--  -->
    <!--  -->
    <!-- **** Fake Parameters Section **** -->
    <!--Number of fake input parameters to generate.-->
    <add key="NumFakeInputParam" value="3"/>
    <!--Whether to push random VALID parameters or leave it to the user (true / false).-->
    <add key="RandomPushValues" value="true"/>
    <!--  -->
    <!--  -->
    <!-- **** Meshing Parameters Section **** -->
    <!--Whether to apply conditional meshing in fake conditional jumps.-->
    <add key="DoubleMeshing" value="false"/>
    <!--Probability of unconditional meshing in percent.-->
    <add key="UnconditionalMeshingProbability" value="100"/>
    <!--Probability of conditional meshing in percent.-->
    <add key="ConditionalMeshingProbability" value="100"/>
    <!--Number of the fake conditions that are generated in the conditional meshing algorithm.-->
    <add key="ConditionalJumpRadius" value="5"/>
    <!--Maximal range between the numbers used to define Loop conditional jumps.-->
    <add key="LoopConditionalJumpMaxRange" value="10"/>
    <!--Probability of jumping into a loop body.-->
    <add key="JumpLoopBodyProbability" value="100"/>
    <!--  -->
    <!--  -->
    <!-- **** Fake Code Generation Section **** -->
    <!--Maximal number used in fake code generation (e.g. in conditional statements).-->
    <add key="GlobalMaxValue" value="500"/>
    <!--Minimal number used in fake code generation (e.g. in conditional statements).-->
    <add key="GlobalMinValue" value="100"/>
    <!--Number of fake instructions to be generated per single original.-->
    <add key="FPO" value="5"/>
    <!--Minimal number of instructions in a basic block.-->
    <add key="FakePadding" value="10"/>
    <!--Variability of fakePadding.-->
    <add key="FakePaddingVariance" value="5"/>
    <!--Describes the probability of generating a conditional jump in percent.-->
    <add key="ConditionalJumpProbability" value="10"/>
    <!--Maximal number of basic blocks to jump back in order to create a infinite loop-->
    <add key="MaxJumpBackForLoop" value="3"/>
    <!--  -->
    <!--  -->
    <!-- **** Outlining Section **** -->
    <!--Describes the probability of generating a new function in percent.-->
    <add key="OutlingingProbability" value="50"/>
    <!--Minimal number of instructions in a new function. Use -1 if you don't want to determinate. -->
    <add key="MaxInstructionsPerFunctions" value="3"/>
  </appSettings>
</configuration>