<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="pseudocode" value="simple_test.txt"/>
    <add key="MultipleRuns" value="2"/>
    <add key="ConstCoverAlgInMultipleRuns" value="1-0"/>
    <add key="UncMeshingAlgInMultipleRuns" value="1-0"/>
    <add key="CondMeshingAlgInMultipleRuns" value="0-1"/>
  </appSettings>
</configuration>